xrdb ~/.Xresources

setxkbmap -layout us -variant intl -option "caps:escape"

xcape -e 'Super_L=Super_L|Shift_L|space' &

TOUCHPAD_ID=$(xinput list --id-only "DELL07E6:00 06CB:76AF Touchpad")
xinput set-prop "$TOUCHPAD_ID" "libinput Natural Scrolling Enabled" 1
xinput set-prop "$TOUCHPAD_ID" "libinput Tapping Enabled" 1

xrandr --output eDP-1 --mode 1280x720

/usr/bin/pipewire &
/usr/bin/pipewire-pulse &
/usr/bin/wireplumber &

clipmenud &
dunst &
feh --bg-scale pictures/wallpapers/wallpaper &
dmenu-tmux home &
dwmblocks &
